.ipynb_checkpoints
*.pdf
*.pyc
*.svg

*.hex
*.lst

# LaTeX compiled files
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lol
*.lot
*.out
*.pre
*.run.xml
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.x.gnuplot

# PSoC Creator extra files
codegentemp
Generated_Source
Export
CortexM3
*.rpt
*.svd
*.cyfit
*.cycdx
*_timing.html
